.homeSectionItem[data-active="false"] .listItemBody {
    opacity: 0.5;
}

.homeSectionItem .homeSectionMaxItems {
    flex-shrink: 0;
    width: 5em;
    margin: 0 0.5em;
    text-align: center;

    @media all and (max-width: 50em) {
        width: 3.5em;
        margin: 0 0.25em;
    }
}

.homeSectionPicker {
    padding: 0.5em 0 1em 2.5em;
}

.homeSectionPickerAll {
    margin: 0.5em 0;
}

.homeSectionPickerItem {
    padding: 0;
}

.homeSectionPickerItem .homeSectionPickerCheck {
    flex-grow: 1;
    margin: 0;
}
